.blue{
    background-color:blue;
}

.yellow{
    background-color:yellow;
}

.red{
    background-color:red;
}

.green{
    background-color:green;
}

.pink{
    background-color:pink;
}

.black{
    background-color: black;
    color:white;
}